.donor__name__block{
    padding-left: 10px;
    
}
.donor__name{
    margin-top: 8px;
    width: 455px;
height: 40px;
}
.phone__number__block{
    padding-left: 10px;
    
}
.phone__number{
    margin-top: 8px;
    width: 455px;
height: 40px;
}
.email__id__block{
    padding-left: 10px;
    
}
.email__id{
    margin-top: 8px;
    width: 455px;
height: 40px;
}

.father__or__husband__block{
    padding-left: 10px;
    
}
.father__or__husband{
    margin-top: 8px;
    width: 455px;
height: 40px;
}

.country__block{
    padding-left: 10px;
    
}
.country{
    margin-top: 8px;
    width: 455px;
height: 40px;
}
.pincode__block{
    padding-left: 10px;
    
}
.pincode{
    margin-top: 8px;
    width: 455px;
height: 40px;
}
.address__block{
    padding-left: 10px;
    
}
.address{
    margin-top: 8px;
    width: 455px;
height: 100px;
}

.gender__block{
    padding-left: 10px;
    
}
.gender{
    margin-top: 8px;
    width: 455px;
height: 40px;}

.idCard__block{
    padding-left: 10px;
    
}
.idCard{
    margin-top: 8px;
    width: 455px;
height: 40px;}
.iDCardNumber__block{
    padding-left: 10px;
    
}
.iDCardNumber{
    margin-top: 8px;
    width: 455px;
height: 40px;}

.panNumber__block{
    padding-left: 10px;
    
}
.panNumber{
    margin-top: 8px;
    width: 455px;
height: 40px;}

.age__block{
    padding-left: 10px;
    
}
.age{
    margin-top: 8px;
    width: 455px;
height: 40px;}
.age__block{
    padding-left: 10px;
    
}
.age{
    margin-top: 8px;
    width: 455px;
height: 40px;}

.subscription__block{
    padding-left: 10px;
    
}
.subscription{
    margin-top: 8px;
    width: 455px;
height: 40px;}


.representative__block{
    padding-left: 10px;
    
}
.representative{
    margin-top: 8px;
    width: 455px;
height: 40px;}
.active{
    color: green;
}
.inactive{
    color: red;
}
.status__block{
    padding-left: 10px;

}
.status{
    margin-top: 8px;
    width: 455px;
height: 40px;}
.ant-select-selector{
    position: relative;
    top: 30px;
    margin-top: 40px;
    margin-left: -30px;
    padding: 30px;
    height: 40px;
}
.ant-radio-group{
    position: relative;
    top: 22px;
    left: 30px;
    margin-top: 60px;
}
.ant-select-show-arrow{
    position: relative;

    
}
.ant-select-single{
position: relative;

}


.ant-select{
    position: relative;

}
.donor__form__gender{
   position: relative;
   top: 23px;
   left: 10px;
}
.donor__form__country{
    position: relative;
    top: 50px;
    left: -210px;
}
.donor__form__idcard{
    position: relative;
    top: 50px;
    left: 10px;
}
.donor__form__subcription{
    position: relative;
    top: 23px;
    left: 10px;
}
.donor__form__representtive{
    position: relative;
    top: 23px;
    left: 10px;
}
.ant-table-thead{
    background-color: #E3E5F2;
  color: #343C6A;;
}
.ant-table-content{
    margin-top: 80px;
      
}